/*
    Importing fonts from https://fonts.google.com
    Use the following line to implement the font :
    font-family: 'Righteous', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 85%;
}

/* Flex Box */
.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
}

#list-container {
  /* background-color: rgba(170, 202, 55, 1); */
  background-color: White;
  color: rgb(58, 58, 67);
  overflow: auto;
}

/* Contributor CSS */
.contriimg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.contributor {
  padding-top: 6px;
  font-size: 0.8rem;
  line-height: 4px;
}

.contri_Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.steps{
  position:absolute;
  font-size:2rem;
}
.step{
  /* margin: 2rem; */
  margin-left: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position:relative;
  display:block;
  background-color: #fbe2e5;
  border-width: .5rem;
  height: 3rem;
  width: 56rem;
  left:21rem;
  font-size:2rem;

}


/* Media Queries */
/* Standard screen-width device */
@media screen and (max-width: 1200px) {
  .step{
    left:13rem;
    font-size:2rem;
  
  }
}
@media screen and (max-width: 992px) {
  .step{
    left:4rem;
    font-size:2rem;
  }
}

@media screen and (max-width: 750px) {
  .main-head {
    font-size: 2.5rem;
  }

  .email {
    font-size: 1.6rem;
  }
  #dev-logo {
    width: 10rem;
    height: 10rem;
  }
  .step{
    left: 0;
    font-size:2rem;
    width: 100%;
  }
}

@media screen and (max-width: 672px) {
  .step p{
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .main-head {
    font-size: 2rem;
  }
  .email {
    font-size: 1.3rem;
  }
  #dev-logo {
    width: 7rem;
    height: 7rem;
  }
  .steps-to-follow{
    width: 100%;
  }
  .step{
    height: 2rem;
  }
  .step p{
    font-size: 13px;
  }
}
